@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a sua lista de contatos</h1>
    <p>Este site é um lugar seguro para você consultar sua agenda pessoal</p>
</div>
